@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1>HOME PAGE</h1>
    <a asp-area="" asp-controller="Project" asp-action="Index" class="btn btn-primary">Project Page</a>
</div>


This git project has been pushed to git!!

This project has been pushed for the second time...